*,
body {
  font-family: "Poppins", sans-serif;
  text-transform: none;
  padding: 0;
  margin: 0;
  color: #1a1b25;
}

body {
  margin: 0 50px;
}
/* ------------------- NAVIGATION --------------- */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1a1b25;
}

#links {
  display: flex;
  flex-direction: row;
}

#links > * {
  margin: 10px;
}

#logo {
  font-size: 52px;
}

#intro {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.personal-pic {
  width: 200px;
  height: 270px;
  border: 2px solid #1a1b25;
  border-radius: 20px;
  margin: 0 10px;
}

.intro-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}

.blurb {
  max-width: 600px;
}

.change-btn {
  color: #1a1a1a;
  border: 1px solid #1b7386;
  background: #d7f8ff;
  font-size: 17px;
  padding: 7px 50px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  min-width: 120px;
  margin-bottom: 50px;
  transition: all ease 0.2s;
  cursor: pointer;
}

.change-btn:hover {
  background-color: #1b7386;
  color: white;
  border: none;
}

/* ------------- PROJECTS ---------------- */
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}

.project-container {
  border: 1px solid #1a1b25;
  color: #1a1b25;
  width: 300px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  margin: 20px 20px 20px 0;
  flex-direction: column;
  align-items: stretch;
  min-width: 300px;
}

.project-content {
  padding: 25px;
}

.learn-link {
  color: #1b7386;
  font-weight: bold;
  padding: 10px 0 -10px 0;
}

#experience,
#aggie-coding-club {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.experience-container {
  max-width: 966px;
  margin-top: 80px;
}

.box-container {
  margin: 40px 0px;
}

.aggie-coding-club-container {
  max-width: 966px;
}

.box-body {
  max-width: 600px;
}

footer {
  margin-top: 10px;
  padding: 20px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
}

.icons {
  margin: 0 20px;
  filter: brightness(15%);
}
/* ------------- CONFIG ------------- */
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 64px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 24px;
}

h6 {
  font-size: 15px;
}

p {
  font-size: 16px;
}

@media (max-width: 728px) {
  body {
    margin: 0 10px;
  }
  .no_small_display {
    display: none;
  }
  #links > * > h3 {
    font-size: 14px;
  }
  #project-list {
    flex-direction: column;
    justify-content: center;
  }
}

.link-icon {
  display: none;
}

.no-display-2 {
  display: none !important;
}

.underline {
  font-weight: bold;
}

.fancy-link {
  text-decoration: none;
  position: relative;
}
.fancy-link::before {
  content: "";
  background-color: hsla(196, 61%, 58%, 0.75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.fancy-link:hover::before {
  bottom: 0;
  height: 100%;
}

@media (max-width: 728px) {
  .no-small-display {
    display: none;
  }
}
