/* Colors::after
black: #1A1B25
blue: #9FC4FC
dark purple: #533E76
neon_purple: #34396B
off_purple: #9C626F
yello: #FFEC64
pink: #FFDADA

*/

*,
body {
  font-family: "Kadwa";
  text-transform: lowercase;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
/* header {
  background-color: #1a1b25;
} */
nav {
  background-color: #1a1b25;
  color: #9fc4fc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

#links {
  display: flex;
  flex-direction: row;
}

#links > * {
  margin: 10px;
}

#logo {
  font-size: 52px;
}

/* -------------- Intro ---------------- */
#intro {
  text-align: center;
  background-color: #34396b;
  height: 100vh;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-pic {
  display: none !important;
}

.intro-heading {
  color: #ffec64;
}

#intro .blurb {
  color: #ffdada;
  max-width: 550px;
}

.blurb {
  text-transform: none;
}

/* ------------------ projects ---------------- */
#projects {
  background-color: #1a1b25;
  min-height: 100vh;
  padding: 50px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#projects > div > h2 {
  color: #ffdada;
  text-align: center;
}

#project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-container {
  background-color: #533e76;
  color: #f5f5f5;
  width: 350px;
  height: 275px;
  margin: 2px;
}

.project-content {
  padding: 30px;
}

.project-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffdada;
}

.project-content > p {
  color: #f5f5f5;
}

.learn-link {
  display: none;
}

/* ------------------ experience ---------------- */
#experience {
  background-color: #ffdada;
  padding: 120px 0;
}

.exp-container {
  background-color: #34396b;
  margin: 0 10px;
}

.exp-heading-container > h6 {
  color: #ffdada;
}

.exp-heading-container > h3 {
  color: #ffec64;
}

.exp-body {
  color: #f5f5f5;
}

.exp-divider {
  border: 2px solid #533e76;
}

/* ---------- Aggie Coding Club ----------- */
#aggie-coding-club {
  background-color: #34396b;
  padding: 120px 0;
}

.acc-section-header {
  color: #ffec64;
}

.acc-container {
  background-color: #ffdada;
}

.acc-heading-container > h6 {
  color: #9c626f;
}

.acc-heading-container > h3 {
  color: #1a1b25;
}

.acc-body {
  color: #1a1b25;
}

.acc-divider {
  border: 2px solid #9c626f;
  background-color: red;
}

/*  ----------------- Footer -------------- */
footer {
  background-color: #1a1b25;
  padding: 50px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > * {
  margin: 0 20px;
  cursor: pointer;
}

/* --------------- Config ---------------- */
.box-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 250px;
}

.box-content {
  padding: 30px;
}

.box-heading-container > h3 {
  margin-top: -16px;
}

@media (max-width: 768px) {
  .box-container {
    width: auto;
    height: 360px;
    margin: 0 5px;
  }
}
.divider {
  height: 100px;
  width: 0;
  margin: 20px 0;
}

h1 {
  font-size: 128px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 24px;
}

h6 {
  font-size: 15px;
}

p {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.section-header {
  padding: 0 0 60px 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@media (max-width: 728px) {
  .no-small-display {
    display: none;
  }
  h1 {
    font-size: 80px;
  }
}
#aggie-coding-club .fancy-link {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(to right, rgb(83, 62, 118), rgb(83, 62, 118));
  background-size: 100% 0.2em, 0 0.2em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 450ms;
}
#aggie-coding-club .fancy-link:hover,
#aggie-coding-club .fancy-link:focus {
  background-size: 0 0.25em, 100% 0.25em;
}

.fancy-link {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(to right, rgba(255, 236, 100, 1), rgba(255, 236, 100, 1));
  background-size: 100% 0.2em, 0 0.2em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 450ms;
}

.fancy-link:hover,
.fancy-link:focus {
  background-size: 0 0.25em, 100% 0.25em;
}
