
:root {
--white: #f5f5f5;
--black: #1A1B25;
--blue: #9FC4FC;
--dark-purple: #533E76;
--neon-purple: #34396B;
--off-pink: #9C626F;
--yellow: #FFEC64;
--pink: #FFDADA;
}

*,
body {
  font-family: "Kadwa";
  text-transform: lowercase;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}