/* ------------------ experience ---------------- */
#experience {
  background-color: var(--pink);
  padding: 120px 0;
}

#experience > .section-header {
  color: var(--black);
}

.exp-container {
  background-color: var(--neon-purple);
}


.exp-heading-container > h6 {
  color: var(--pink);
}

.exp-heading-container > h3 {
  color: var(--yellow);
}

.exp-body {
  color: var(--white);
}

.exp-container > .chip-container > .chip {
  background-color: var(--dark-blue);
  color: var(--white)
}

.exp-divider {
  border: 2px solid var(--dark-purple);
}

